/**
 * All the bulma variable overwrites are done in here
 */
// Import Bulma's core
@import "~bulma/sass/utilities/_all";

@import "style-colors.scss";

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: ( "white": ($white, $black),
           "black": ($black, $white),
           "light": ($light, $light-invert),
           "dark": ($dark, $dark-invert),
           "primary": ($primary, $primary-invert),
           "info": ($info, $info-invert),
           "success": ($success, $primary-invert),
           "warning": ($red, $red-invert),
           "danger": ($danger, $red-invert),
           "secondary": ($yellow, $yellow-invert),
           "red": ($red, $red-invert),
           "yellow": ($yellow, $yellow-invert),

        );

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;


$column-gap: 0.75rem;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";