@import "setup.scss";
@import '@/assets/scss/style-colors.scss';


@font-face {
    font-family: Nunito Sans;
    src: url("../font/NunitoSans-Regular.ttf") format("truetype"),
}

html, body {
    font-family: 'Nunito Sans', sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #595959;
}


.video-overlay {
    position: absolute;
    top: 58vh;
    padding-left: 30px;
    padding-right: 30px;
    left: 0;
    line-height: 1;

    background:
    linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
    );
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    // mobile
    @media only screen and (max-width: 1024px) {
        right: 0; // make it go all the way to the right on mobile
        font-size: 20px;
        padding-left: 20px;
    }
}

.mobile-gradient-title {
    font-size: 28px ;
}

.gradient-text {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    display: inline;
    padding: 0.5rem;

    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;

    @media only screen and (max-width: 1024px) {
        font-size: 18px !important;
    }
}

video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-size: cover;
}

.masthead {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontal-line {
    border-top: 4px solid $primary;
    padding-bottom: 20px;

    width: 80px;
    margin: 0 auto;
}

.horizontal-line-long {
    border-top: 4px solid $primary;
    padding-bottom: 20px;

    width: 160px;
    margin: 0 auto;
}

.has-smaller-text {
    font-size: 16px;
}

.is-description-header {
    font-size: 22px;
    margin-bottom: 20px;

    text-align: left;
}

.is-description {
    margin-bottom: 20px;

    text-align: left;
}

.percentage {
    color: $primary;
    margin-bottom: 20px;
    font-size: 56px;
    font-weight: bold;

    .lessons {
        color: white;
    }
}

.percentage-info {
    font-size: 22px;
    margin-bottom: 20px;
}

.architect {
    height: 40vh;
    display: block;

    background-image: url("../img/large_images/architect.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.clients-header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-bottom: 30px;
}

.client-header-logo {
    width: 100px;
    @media only screen and (max-width: 1220px) {
        display: none;
    }
}



.slide-leave-active,
.slide-enter-active {
  transition: 1s;
}

.client-header-text {
    font-size: 20px;
}

.client-image {
    max-height: 50px;
}

.section {
    background-color: white !important;
}

.testimonials {
    min-height: 40vh;
    @media screen and (max-width: 768px) {
        min-height: 80vh;
    }
}

// :::::::: OFFER PAGE ::::::::::

.header-container {
    margin-left: 0;
}

.very-large-title {
    font-size: 68px !important;
}

.offer-header-image {
    height: 50vh;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
      ), url("../img/content_images/AdobeStock_327576332.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;

    @media screen and (max-width: 1024px) {
        height: 40vh;
    }
}

.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;

    margin-bottom: 20px;
}

.offer-image {
    height: 100px;
    margin-bottom: 30px;
}

.users {
    font-size: 20px;
}

.user-container {
    position: relative;
}

.user-container:hover .user-image-overlay {
    opacity: 0.85;
}

.overlay-text {
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;

    padding-left: 25px;
    padding-right: 25px;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }
}

.user-image-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;
}

.large-title {
    font-size: 40px;
}

.how-it-works {
    color: white;

    background-image: url("../img/large_images/Ausführung_03.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.lessons {
    color: white;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url("../img/large_images/planning.jpg");

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.crane-parallax {
    height: 40vh;

    background-image: url("../img/large_images/crane.jpeg");

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
// ::::::::::: ABOUT PAGE :::::::::::::
.chris-image {
    max-width: 200px;
    margin: 0 auto;
}

.discuss {
    height: 50vh;

    background-image: url("../img/large_images/discuss.jpeg");
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: fixed;
    background-size: cover;

    @media screen and (max-width: 1024px) {
        height: 40vh;
    }
}

