<template>
    <footer class="appex-footer">
        <div class="content has-text-centered container ">
            <div class="m-b-5">
                Applied Experience GmbH · 5406 Baden ·
                <a href="tel:+41-079-520-6218" style="color: white">+41 79 520 62 18</a> ·
                <a href="mailto:info@appex.ch" style="color: white">info@appex.ch.</a>
            </div>
            <div class="m-b-5">
                © <nuxt-link to="/" tag="a" style="color: white">Applied Experience GmbH</nuxt-link> {{ year }} ·
                <nuxt-link to="/Imprint" tag="a" style="color: white">Impressum</nuxt-link> ·
                <nuxt-link tag="a" to="/PrivacyPolicy" style="color: white">Datenschutzbestimmungen</nuxt-link>
                ·
                <a href="/Lizenzbedingungen_Applied_Experience_Nov_2020.pdf" target="_blank" style="color: white"
                    >Lizenzbedingungen</a
                >
            </div>
            <div>
                AppEx - Applied Experience ist eine geschützte Marke.
            </div>
        </div>
    </footer>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import moment from 'moment';

@Component({
    name: 'Footer',
})
export default class Footer extends Vue {
    private year: number = 2020;

    private mounted() {
        this.year = moment().year();
    }
}
</script>

<style lang="scss">
@import '@/assets/scss/style-colors.scss';

.appex-footer {
    background-color: $primary;
    color: white;

    font-size: 14px;

    padding-top: 20px;
    padding-bottom: 20px;
}
</style>
