<template>
    <div>
        <navbar />

        <nuxt />
        <appex-footer />
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import Navbar from '@/layouts/Navbar.vue';
import AppexFooter from '@/layouts/AppexFooter.vue';

@Component({
    name: 'default',
    components: {
        Navbar,
        AppexFooter,
    },
})
export default class Default extends Vue {}
</script>

<style lang="scss"></style>
