<template>
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <nuxt-link tag="a" class="navbar-item" to="/" style="width: 200px">
                <img :src="require('@/static/logo.png')" />
            </nuxt-link>
            <span
                class="navbar-burger burger"
                :class="{ 'is-active': isActive }"
                v-on:click="toggleNav()"
                data-target="navbarMenu"
            >
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>

        <div class="navbar-menu" :class="{ 'is-active': isActive }">
            <div class="navbar-end" @click="hideMenu">
                <nuxt-link tag="a" class="navbar-item" to="/"><span class="">Angewandtes Wissen</span></nuxt-link>
                <nuxt-link tag="a" class="navbar-item" to="/Offer"><span class="">Angebot</span></nuxt-link>
                <nuxt-link tag="a" class="navbar-item" to="/About"><span class="">Über uns</span></nuxt-link>
                <a class="navbar-item" href="https://app.appex.ch"><span class="">Login </span></a>
            </div>
        </div>
    </nav>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    name: 'Navbar',
})
export default class Navbar extends Vue {
    private isActive: boolean = false;

    private toggleNav() {
        this.isActive = !this.isActive;
    }

    private hideMenu(element: string) {
        setTimeout(() => {
            this.isActive = false;
        }, 100);
    }
}
</script>

<style lang="scss">
.navbar {
    background-color: #fff !important;
    box-shadow: 0px 0px 7px -4px rgba(0, 0, 0, 0.75) !important;
}
</style>
