<template>
    <div>
        <section class="hero is-small discuss" v-rellax="{ speed: 0, zindex: -1 }">
            <div class="hero-body">
                <div class="container">
                    <h1 class="very-large-title large-title p-t-80" style="color: white">Über uns</h1>
                    <div class="horizontal-line-long" style="margin-left: 0"></div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <div class="m-b-50 columns is-8 is-vcentered">
                    <div class="column">
                        <h3 class="has-text-weight-bold m-b-20 large-title">Von Spezialisten für Spezialisten.</h3>
                        <div class="horizontal-line-long" style="margin: 0"></div>

                        <div class="has-smaller-text is-italic">
                            <p>
                                Die Idee zu AppEx entstand unter dem Eindruck jahrzehntelanger Beobachtung und der
                                Erkenntnis, dass in Bauprojekten immer wieder die gleichen Fehler und Versäumnisse zu
                                Problemen führen.
                            </p>
                        </div>
                    </div>
                    <div class="column is-4 is-centered is-offset-1">
                        <img :src="require('@/assets/img/logo.png')" />
                    </div>
                </div>

                <p class="is-description">
                    Das Grundkonzept für die Software AppEx wurde von Chris Marolf und seinem Team in den 2000er-Jahren
                    im Silicon Valley entwickelt; der Vertrieb erfolgte bereits damals über die 1999 gegründete Applied
                    Experience Inc.
                </p>
                <p class="is-description">
                    Zusammen mit seinem Schweizer Entwicklerteam wurde das Konzept komplett überarbeitet und
                    vervollständigt, die Bedienung benutzerfreundlich ausgebaut und aktuelle, ausgereifte AppEx-Version
                    als cloudbasierte Webapplikation von Grund auf neu aufgesetzt.
                </p>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <div class="chris-image">
                    <img title="Chris Marolf" :src="require('@/assets/img/chris/Chris_Marolf_01.png')" />
                </div>
                <h2 class="large-title has-text-centered">Chris Marolf</h2>
                <br />
                <p class="is-description">
                    Hinter der Software AppEx steht Chris Marolf, ein ausgewiesener Fachmann für Bauprojekte,
                    Wissensmanagement und Lean ProcessManagement.
                </p>
                <p class="is-description">
                    Der studierte Bauingenieur (MSc ETH und MBA Northwestern University in Chicago) kennt die
                    verschiedenen Blickwinkel der Bauindustrie nicht nur aus vielen Bauprojekten, die er in der Schweiz
                    und den USA leitete. Er war auch an der Entwicklung diverser Innovationen beteiligt; Stichworte BIM
                    und Lean Process Management.
                </p>
                <p class="is-description">
                    Chris Marolf beschäftigte sich in seiner ganzen Karriere intensiv mit Wissensmanagement. Früh fiel
                    ihm auf, dass trotz besten Absichten aller, in Bauprojekten regelmässig die gleichen Fehler
                    auftraten. Missgeschicke und Versäumnisse, welche die beteiligten Mitarbeiter frustrierten und die
                    Auftraggeber immer wieder aufs Neue teures «Lehrgeld» kosteten.
                </p>
                <p class="is-description">
                    Aus Fehlern lernen und Erfahrung konsequent anwenden («Applied Experience»): Wissensmanagement wurde
                    zu einem zentralen Anliegen, welches Chris Marolf nicht nur bei all seinen bisherigen Tätigkeiten
                    und in verschiedensten Rollen konsequent verfolgte. Er referiert auch immer wieder an Hochschulen
                    zum Thema Wissensmanagement in der Bauindustrie.
                </p>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Jsonld } from 'nuxt-jsonld';

@Jsonld
@Component({
    name: 'About',
    components: {},
})
export default class About extends Vue {
    jsonld() {
        return {
            '@context': 'https://schema.org',
            '@type': 'Corporation',
            name: 'Applied Experience GmbH',
            alternateName: 'Appex',
            url: 'https://appex.ch',
            logo: './logo.png',
            contactPoint: {
                '@type': 'ContactPoint',
                telephone: '+41 79 520 6218',
                contactType: 'customer service',
                areaServed: 'CH',
                availableLanguage: ['en', 'fr', 'German', 'Italian'],
            },
            sameAs: 'https://appex.ai',
        };
    }
}
</script>

<style lang="scss"></style>
