<template>
    <div>
        <section class="section m-t-50">
            <div class="container is-max-widescreen">
                <h1 class="large-title">Impressum</h1>
                <br />
                <div class="is-description">
                    <b>Kontakt</b>
                    <p>Applied Experience GmbH</p>
                    <p>Steinstrasse 20, 5406 Baden</p>
                    <p>+41 79 520 62 18</p>
                    <a href="mailto:info@appex.ch">info@appex.ch</a>
                </div>
                <br />
                <div class="is-description">
                    <b>Design</b>
                    <p>Egli Creative</p>
                    <p>Kommerzielle Kommunikation</p>
                    <p>Kohlrainstrasse 1, 8700 Küsnacht</p>
                    <p>+41 44 387 10 11</p>
                    <a href="mailto:jwe@eglicreative.ch">jwe@eglicreative.ch</a>
                </div>
                <br />
                <div class="is-description">
                    <b>Web-Umsetzung</b>
                    <p>Mark Marolf</p>
                    <p>Steinstrasse 20, 5406 Baden</p>
                    <p>+41 78 626 39 34</p>
                    <a href="mailto:mark@markmarolf.com">mark@markmarolf.com</a>
                </div>

                <br />
                <p class="is-description-header"><b>Haftungsausschluss</b></p>

                <p class="is-description">
                    Der Autor übernimmt keinerlei Gewähr hinsichtlich der inhaltlichen Richtigkeit, Genauigkeit,
                    Aktualität, Zuverlässigkeit und Vollständigkeit der Informationen.
                </p>
                <p class="is-description">
                    Haftungsansprüche gegen den Autor wegen Schäden materieller oder immaterieller Art, welche aus dem
                    Zugriff oder der Nutzung bzw. Nichtnutzung der veröffentlichten Informationen, durch Missbrauch der
                    Verbindung oder durch technische Störungen entstanden sind, werden ausgeschlossen. Alle Angebote
                    sind unverbindlich. Der Autor behält es sich ausdrücklich vor, Teile der Seiten oder das gesamte
                    Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung
                    zeitweise oder endgültig einzustellen.
                </p>

                <br />
                <p class="is-description-header"><b>Haftung für Links</b></p>
                <p class="is-description">
                    Verweise und Links auf Webseiten Dritter liegen ausserhalb unseres Verantwortungsbereichs. Es wird
                    jegliche Verantwortung für solche Webseiten abgelehnt. Zugriff und Nutzung solcher Webseiten
                    erfolgen auf eigene Gefahr des Nutzers oder der Nutzerin.
                </p>
                <br />
                <p class="is-description-header"><b>Urheberrechte</b></p>

                <p class="is-description">
                    Die Urheber- und alle anderen Rechte an Inhalten, Bildern, Fotos oder anderen Dateien auf der
                    Website gehören ausschliesslich der Firma Applied Experience GmbH oder den speziell genannten
                    Rechtsinhabern. Für die Reproduktion jeglicher Elemente ist die schriftliche Zustimmung der
                    Urheberrechtsträger im Voraus einzuholen.
                </p>

                <p class="is-description">
                    Bestimmte Bilder dieser Webseite stammen von Adobe Stock und wurden an die Anforderungen der Applied
                    Experience GmbH angepasst.
                </p>

                <br />
                <p class="is-description-header"><b>Datenschutz</b></p>

                <p class="is-description">
                    Gestützt auf Artikel 13 der schweizerischen Bundesverfassung und die datenschutzrechtlichen
                    Bestimmungen des Bundes (Datenschutzgesetz, DSG) hat jede Person Anspruch auf Schutz ihrer
                    Privatsphäre sowie auf Schutz vor Missbrauch ihrer persönlichen Daten. Wir halten diese Bestimmungen
                    ein. Persönliche Daten werden streng vertraulich behandelt und weder an Dritte verkauft noch
                    weitergegeben.
                </p>

                <p class="is-description">
                    In enger Zusammenarbeit mit unseren Hosting-Providern bemühen wir uns, die Datenbanken so gut wie
                    möglich vor fremden Zugriffen, Verlusten, Missbrauch oder Fälschung zu schützen.
                </p>

                <p class="is-description">
                    Beim Zugriff auf unsere Webseiten werden folgende Daten in Logfiles gespeichert: IP-Adresse, Datum,
                    Uhrzeit, Browser-Anfrage und allgemein übertragene Informationen zum Betriebssystem resp. Browser.
                    Diese Nutzungsdaten bilden die Basis für statistische, anonyme Auswertungen, sodass Trends erkennbar
                    sind, anhand derer wir unsere Angebote entsprechend verbessern können.
                </p>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    name: 'Offer',
    components: {},
})
export default class Offer extends Vue {
    private isImageModalActive: boolean = false;
}
</script>

<style lang="scss"></style>
