<template>
    <div>
        <b-carousel arrow has-drag animated :repeat="true" indicator-inside :interval="7500" :pause-info="false">
            <b-carousel-item v-for="(video, index) in videos" :key="index">
                <video playsinline autoplay muted loop>
                    <source :src="require('~/assets/video/' + video.videoName)" type="video/mp4" />
                    Your browser does not support the video tag.
                </video>

                <section class="video-overlay is-hidden-touch">
                    <div class="gradient-text container">
                        <h1 class="very-large-title">
                            <b>{{ video.largeText }}</b>
                        </h1>
                        <p class="p-t-10">{{ video.smallText }}</p>
                    </div>
                </section>

                <section class="video-overlay is-mobile is-hidden-desktop">
                    <div class="gradient-text">
                        <h1 class="mobile-gradient-title">
                            <b>{{ video.largeText }}</b>
                        </h1>
                        <br />
                        <p>{{ video.smallText }}</p>
                    </div>
                </section>
            </b-carousel-item>
        </b-carousel>

        <section class="section">
            <div class="container">
                <div class="masthead m-b-50 has-text-centered">
                    <img
                        :src="require('~/assets/img/flaticons/AppEx_Icon_01.png')"
                        class="m-b-20"
                        style="width: 75px"
                    />

                    <h3 class="has-text-weight-bold m-b-20 large-title">Vorhersehbare Überraschungen vermeiden</h3>
                    <div class="horizontal-line-long"></div>

                    <div class="has-smaller-text is-italic">
                        <p>In jedem Bauprojekt kosten vorhersehbare Überraschungen Nerven, Zeit und Geld.</p>
                        <p>
                            Die Software AppEx hilft mit gezieltem Einsatz von gesammeltem Wissen, teure Blindflüge zu
                            vermeiden.
                        </p>
                    </div>
                </div>
                <br />
                <div class="columns m-t-30">
                    <div class="column is-8">
                        <h4 class="is-description-header">
                            Projektrisiko «Lehrgeld zahlen». Warum eigentlich? Und weshalb immer wieder?
                        </h4>
                        <p class="is-description">
                            Unliebsame Überraschungen sind lästige Begleiterscheinungen eines jeden Bauprojekts.
                            Kostspielige Nachträge, Garantiearbeiten und Versicherungsfälle sind oft die Folge von
                            eigentlich vermeidbaren und sich wiederholenden Fehlern, Missverständnissen, Irrtümern und
                            Versäumnissen.
                        </p>
                        <p class="is-description">
                            Mehrkosten und Verzögerungen sind nicht nur ärgerlich. Sie verschleissen Ressourcen, binden
                            Kräfte und drücken auf die Effizienz. Dabei sind die Ursachen meist vorausseh- und
                            abwendbar.
                        </p>
                    </div>

                    <div class="column is-offset-1">
                        <img :src="require('@/assets/img/content_images/angeryboi.jpg')" />
                    </div>
                </div>

                <div class="columns">
                    <div class="column is-8">
                        <h4 class="is-description-header">
                            Die improvisierte Ablage von Wissen strapaziert die Nerven.
                        </h4>
                        <p class="is-description">
                            Die Termine galoppieren, das Tagesgeschäft diktiert die Agenda, alle Projektrisiken müssen
                            vorausgesehen und die entsprechenden Weichen rechtzeitig gestellt werden. Frustrierend, wenn
                            darüber hinaus auch noch das Recherchieren und Abrufen von Wissen zum Zeitfresser wird.
                        </p>
                        <p class="is-description">
                            Zwar werden mancherorts gemeinsame Erfahrungen in Form von Einzeldokumenten und Links
                            gesichert. Zum Beispiel in geteilten Verzeichnissen oder Poolwerkzeugen wie Teams,
                            Sharepoint etc. Im Bedarfsfall sind die gesuchten Informationen dann jedoch meist kaum
                            auffindbar trotz aufwändigem Durchforsten der improvisierten elektronischen
                            «Wissensablagen».
                        </p>
                    </div>
                    <div class="column is-offset-1">
                        <img :src="require('@/assets/img/content_images/lostAfDude.jpg')" />
                    </div>
                </div>
            </div>
        </section>

        <section class="hero is-small p-b-30 p-t-30 is-light has-text-centered">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column">
                            <p class="percentage">27 %</p>
                            <p class="percentage-info">Zeitersparnis vermeidbare Fehler</p>
                            <div class="horizontal-line"></div>
                            <p>
                                Erhebungen zeigen, dass in Bauprojekten im Durchschnitt 27 % der aufgewendeten Zeit
                                verloren geht, weil vorhersehbare Probleme zu lösen sind.
                            </p>
                        </div>
                        <div class="column">
                            <p class="percentage">1.5 %</p>
                            <p class="percentage-info">Reduktion der Projektkosten</p>
                            <div class="horizontal-line"></div>
                            <p>
                                Laut der Studie eines internationalen Biotech-Unternehmens lassen sich mit
                                vorausschauender Planung im Durchschnitt bis zu 1.5 % der Baukosten einsparen.
                            </p>
                        </div>
                        <div class="column">
                            <p class="percentage">55 %</p>
                            <p class="percentage-info">Nicht wertschöpfende Arbeitszeit</p>
                            <div class="horizontal-line"></div>
                            <p>
                                Schnitzer, Pannen, Diskussionen und endlose Informationssuche in der Ablage: Lehrläufe
                                fressen Ressourcen. Durchschnittlich 55 % der Arbeitszeit sind nicht wertschöpfend.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container">
                <div class="columns is-8 m-t-30">
                    <div class="column">
                        <img :src="require('@/assets/img/content_images/AdobeStock_292343274_bearbeitet.jpg')" />
                    </div>
                    <div class="column is-offset-1 is-8">
                        <h4 class="is-description-header">
                            Vorausschauende Planung minimiert die Projektrisiken und sorgt für Effizienz.
                        </h4>
                        <p class="is-description">
                            Die Ursachen für kostspielige Überraschungen und zeitfressende Pannen in einem Bauprojekt
                            sind selten einfach nur Pech oder schlechtes Karma.
                        </p>
                        <p class="is-description">
                            Wäre die vorhandene, reiche Erfahrung aller beteiligten Spezialisten systematisch abrufbar,
                            würden viele der aus anderen Projekten bekannten und wiederkehrenden Risiken, Probleme und
                            Tücken rechtzeitig identifiziert und in der Planung berücksichtigt.
                        </p>

                        <p class="is-description">
                            AppEx sorgt wie ein Projekt-Coach mit umfassendem Wissensmanagement dafür, dass die
                            gesammelte Fachkompetenz nutzbar wird und vorausschauend als Fragen in jede Phase des
                            Projekts zum richtigen Zeitpunkt einfliesst.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <div class="architect" v-rellax="{ speed: 0 }"></div>

        <section class="hero is-small is-light has-text-centered">
            <div class="hero-body container is-max-widescreen">
                <div class="clients-header columns is-gapless" style="position: relative">
                    <img
                        class="client-header-logo column is-1 is-hidden-touch"
                        :src="require('@/assets/img/app-box/AppBox01_Schatten.png')"
                        style="position: absolute; bottom: -5px; width: 120px"
                    />
                    <p class="client-header-text p-t-20 column">
                        Immer mehr Teams nutzen für ihre Projekte das umfassende Wissensmanagement von AppEx.
                    </p>
                </div>
                <br />
                <br />
                <div class="columns is-vcentered is-centered is-multiline">
                    <a
                        v-for="client in clients"
                        v-bind:key="client.id"
                        class="column is-2"
                        :href="client.link"
                        target="blank"
                        :title="client.title"
                    >
                        <img class="client-image" :src="require('~/assets/img/clients/' + client.image)" />
                    </a>
                </div>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import VueRellax from 'vue-rellax';
import { Jsonld } from 'nuxt-jsonld';

@Jsonld
@Component({
    name: 'HomePage',
})
export default class HomePage extends Vue {
    private videos = [
        {
            videoName: 'blueprint.mp4',
            largeText: 'Markante Effizienzsteigerung',
            smallText: 'dank konsequent angewandter Erfahrung',
        },
        {
            videoName: 'computer.mp4',
            largeText: 'Strukturierte Planung',
            smallText: 'stellt entscheidende Fragen zur richtigen Zeit',
        },
        {
            videoName: 'constructionsite.mp4',
            largeText: 'Vorausschauend fragen',
            smallText: 'schützt vor kostspieligen Überraschungen',
        },
    ];

    jsonld() {
        return {
            '@context': 'https://schema.org',
            '@type': 'Corporation',
            name: 'Applied Experience GmbH',
            alternateName: 'Appex',
            url: 'https://appex.ch',
            logo: './logo.png',
            contactPoint: {
                '@type': 'ContactPoint',
                telephone: '+41 79 520 6218',
                contactType: 'customer service',
                areaServed: 'CH',
                availableLanguage: ['en', 'fr', 'German', 'Italian'],
            },
            sameAs: 'https://appex.ai',
        };
    }

    private clients = [
        {
            id: 1,
            title: 'DPR Construction',
            image: 'Grau_dpr.png',
            link: 'https://www.dpr.com/',
        },
        {
            id: 2,
            title: 'Jauslin Stebler',
            image: 'Grau_Jauslin.png',
            link: 'https://www.jauslinstebler.ch/home.html',
        },
        {
            id: 3,
            title: 'Krayer Architektur',
            image: 'Grau_Krayer.png',
            link: 'https://krayer-architektur.ch/',
        },
        {
            id: 4,
            title: 'matti ragaz hitz architekten ag',
            image: 'Grau_Matti.png',
            link: 'https://mrh.ch/',
        },
        {
            id: 5,
            title: 'ProjektBeweger GmbH',
            image: 'Grau_Projektbeweger.png',
            link: 'https://www.projektbeweger.ch/',
        },
        {
            id: 6,
            title: 'VALKE GmbH Baumanagement',
            image: 'Grau_Valke.png',
            link: 'https://valke.ch/',
        },
        {
            id: 7,
            title: 'Perita',
            image: 'Grau_Perita.png',
            link: 'https://perita.ch/',
        },
        {
            id: 8,
            title: 'Planpunkt',
            image: 'Grau_Planpunkt.png',
            link: 'https://planpunkt.ch/',
        },
        {
            id: 9,
            title: 'Litag',
            image: 'Grau_Litag.png',
            link: 'https://www.litagag.ch/',
        },
        {
            id: 10,
            title: 'Keller',
            image: 'Grau_KellerBau.png',
            link: 'https://keller-unternehmungen.ch/',
        },
        {
            id: 12,
            title: 'BS+EMI Architektenpartner AG',
            image: 'Grau_BsEmi.png',
            link: 'https://www.bs-emi.ch/',
        },
        {
            id: 13,
            title: 'Kuster-Natursteine.ch',
            image: 'Grau_Kuster.png',
            link: 'https://www.kuster-natursteine.ch/',
        },
        {
            id: 14,
            title: 'SENN - Entwicklung, Planung und Realisierung von Immobilien',
            image: 'Grau_Senn.png',
            link: 'https://senn.com/',
        },
        {
            id: 15,
            title: 'ADZ',
            image: 'Grau_adz.png',
            link: 'https://www.adz.ch/',
        },
        {
            id: 16,
            title: 'Inselspital',
            image: 'Grau_Insel.png',
            link: 'https://www.insel.ch/',
        },
        {
            id: 17,
            title: 'bauart - Architects and Planners Ltd',
            image: 'Grau_bauart.png',
            link: 'https://bauart.ch/',
        },
        {
            id: 18,
            title: 'OOS',
            image: 'Grau_oos.png',
            link: 'https://oos.com/',
        },
        {
            id: 19,
            title: 'Anderegg Partner',
            image: 'Grau_anderegg.png',
            link: 'https://andereggpartner.ch',
        },
        {
            id: 20,
            title: 'BGS & Partner Architekten',
            image: 'Grau_BGSarchitekten.png',
            link: 'https://www.bgs-architekten.ch',
        },
    ];
}
</script>

<style lang="scss"></style>
