<template>
    <div>
        <section class="hero is-small offer-header-image" v-rellax="{ speed: 0, zindex: -1 }">
            <div class="hero-body">
                <div class="container">
                    <h1 class="very-large-title large-title p-t-80" style="color: white">Angebot</h1>
                    <div class="horizontal-line-long" style="margin-left: 0"></div>
                </div>
            </div>
        </section>

        <section class="section container">
            <div class="columns">
                <img
                    class="column is-1"
                    :src="require('@/assets/img/app-box/AppBox01_Schatten.png')"
                    style="position: absolute; top: -70px; width: 150px"
                />
            </div>

            <div class="container">
                <div class="masthead has-text-centered">
                    <img
                        :src="require('~/assets/img/flaticons/AppEx_Icon_02.png')"
                        class="m-b-20"
                        style="width: 200px"
                    />
                    <h3 class="has-text-weight-bold m-b-20 large-title">Effiziente Planung und Realisierung</h3>
                    <div class="horizontal-line-long"></div>

                    <div class="has-smaller-text is-italic">
                        <p style="max-width: 600px">
                            AppEx stellt als cloudbasiertes Werkzeug für umfassendes Wissensmanagement, Planung und
                            Reporting sicher, dass sich Bauprojekte endlich überraschungsfrei und effizient planen und
                            realisieren lassen
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <div class="columns is-centered is-multiline">
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_05G_Wissen.png')" />
                        <p class="percentage-info">Angewandtes Wissen</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx ist das einzige Werkzeug, welches in Bauprojekten den Erfahrungsschatz aller
                            beteiligten Fachspezialisten als umfassendes Wissensmanagement sichert und für neue Projekte
                            verfügbar macht.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_04G_RisikoM.png')" />
                        <p class="percentage-info">Risikomanagement</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx ist ein Risikomanagement-Tool das alle Phasen des Projektes begleitet, von der
                            Klarheit und Vollständigkeit der Bestellung bis zur Sicherheit, dass bis zur Projektübergabe
                            nichts vergessen geht.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_03G_Effizenz.png')" />
                        <p class="percentage-info">Effizienz-steigerung</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Die Kompetenz und Expertise Ihrer Organisation sind an einem zentralen Ort vereint,
                            jederzeit such-und abrufbar. AppEx macht die strukturierte Planung und Arbeitsvorbereitung
                            einfach und stellt die pannenfreie Ausführung sicher.
                        </p>
                    </div>

                    <div class="column is-4 offer">
                        <img
                            class="offer-image"
                            :src="require('@/assets/img/flaticons/AppEx_Icon_07G_Transparenz.png')"
                        />
                        <p class="percentage-info">Transparenz</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Transparenz schafft Vertrauen und führt zu besseren Entscheiden: Transparenz bezüglich
                            Leistungen in Verträgen ebenso wie bei den Abhängigkeiten in der Planung. Gelebte Expertise
                            erzeugt Vertrauen.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img
                            class="offer-image"
                            :src="require('@/assets/img/flaticons/AppEx_Icon_06G_Koordination.png')"
                        />
                        <p class="percentage-info">Koordination</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx unterstützt die Zusammenarbeit aller Projektbeteiligten über alle Phasen hinweg und
                            sorgt für klare Zuständigkeiten.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_08G_PQM.png')" />
                        <p class="percentage-info">Gelebtes PQM</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Mit den Reporting-und Steuerungstools bleibt das Projekt immer unter Kontrolle. Von der
                            Bedürfnisabklärung der zukünftigen Objektnutzer, über die Planung, Realisation bis zur
                            Inbetriebnahme. AppEx avisiert, was es zu prüfen und zu berücksichtigen gilt.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <div class="columns is-8 users is-centered is-multiline">
                    <div class="column">
                        <div class="user-container">
                            <img :src="require('@/assets/img/content_images/AdobeStock_293243501.jpeg')" />
                            <div class="user-image-overlay">
                                <div class="overlay-text">
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Anforderungen aus Betrieb und Unterhaltung fliessen
                                        in die Planung ein.
                                    </p>
                                    <p class="m-b-10"><span class="m-r-10">•</span>Die Planung ist koordiniert.</p>
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Nachträge und Terminverzüge werden reduziert.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <p>Bauherren</p>
                            <p>Bauherrenvertreter</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="user-container">
                            <img :src="require('@/assets/img/content_images/AdobeStock_111087347.jpeg')" />
                            <div class="user-image-overlay">
                                <div class="overlay-text">
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Die Planung ist koordiniert und strukturiert.
                                    </p>
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Die wichtigen Fragen werden rechtzeitig
                                        beantwortet.
                                    </p>
                                    <p class="m-b-10"><span class="m-r-10">•</span>Die Planung ist ausführbar.</p>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <p>Architekten</p>
                            <p>Generalplaner</p>
                        </div>
                    </div>
                    <div class="column">
                        <div class="user-container">
                            <img
                                :src="
                                    require('@/assets/img/content_images/AdobeStock_322140202_AlternativProjektleiter.jpeg')
                                "
                            />
                            <div class="user-image-overlay">
                                <div class="overlay-text">
                                    <p class="m-b-10"><span class="m-r-10">•</span>Die Planung ist ausführbar.</p>
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Die Projektrisiken werden identifiziert.
                                    </p>
                                    <p class="m-b-10">
                                        <span class="m-r-10">•</span>Potenzielle Probleme der kommenden Monate werden
                                        identifiziert.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="has-text-centered">
                            <p>Projektleiter</p>
                            <p>Bauleiter</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <h2 class="large-title">So funktioniert’s</h2>
            </div>
        </section>

        <section class="section how-it-works" v-rellax="{ speed: 0, zindex: -1 }">
            <div class="container is-max-widescreen">
                <div class="columns is-vcentered">
                    <div class="column">
                        <h3 class="is-description-header">Professionelles Wissensmanagement</h3>
                        <p class="is-description">
                            Das Herzstück von AppEx ist die umfassende Wissensdatenbank. Erfahrungen werden als Lehren
                            in konkrete Fragen überführt, welche vorausschauend und zum richtigen Zeitpunkt in die
                            einzelnen Phasen eines Bauprojekts einfliessen. Mit einer AppEx-Lizenz erhalten Sie Zugriff
                            auf das «Basiswissen Hochbau» mit über 1‘500 Lehren.
                        </p>
                        <p class="is-description">
                            Bisher dezentral gesammeltes Wissen aus Ihrer eigenen Ablage lässt sich problemlos bündeln,
                            aufbereiten, in die professionelle AppEx-Wissensdatenbank überführen und in der von Ihnen
                            bevorzugten Struktur hinterlegen. Und mit jedem abgeschlossenen Bauprojekt, ergänzen Sie das
                            Wissensmanagement um neue Erkenntnisse und Erfahrungen, welche in zukünftigen Projekten
                            einfach genutzt, problemlos gefunden und abgerufen werden können.
                        </p>
                    </div>
                    <div class="column" @click="isImageModalActive = true">
                        <img
                            title="Wissensmanagement"
                            :src="require('@/assets/img/knowledge_management/knowledge_management.jpg')"
                        />
                    </div>
                </div>
            </div>
        </section>

        <b-modal v-model="isImageModalActive">
            <p class="image is-4by3">
                <img :src="require('@/assets/img/knowledge_management/knowledge_management.jpg')" />
            </p>
        </b-modal>

        <section class="section">
            <div class="container is-max-widescreen">
                <div class="columns is-centered is-multiline">
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_12G_Coaching.png')" />
                        <p class="percentage-info">Virtuelles Coaching</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx begleitet das Projektteam wie ein virtueller Berater durch alle Projektphasen. Ein
                            Coach, der dafür sorgt, dass der Überblick gewahrt bleibt, dass nichts vergessen geht und
                            der weiss, was als nächstes beachtet, eingeleitet und entschieden werden muss.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_04G_RisikoM.png')" />
                        <p class="percentage-info">Intelligente Ablage</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Mit AppEx ist das gesammelte Wissen in einer frei konfigurierbaren Struktur so abgelegt,
                            dass jede gesuchte Information auf Anhieb gefunden wird und die Erfahrungen proaktiv in die
                            Projekte einfliessen. AppEx ist ein Tool das lebt und in jeder Phase des Projektes
                            dazulernt.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_03G_Effizenz.png')" />
                        <p class="percentage-info">Checklisten</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Checklisten stellen sicher, dass insbesondere bei risikobehafteten Aspekten des Projekts zur
                            richtigen Zeit die entscheidenden Fragen gestellt werden, Zuständigkeiten geklärt sind,
                            anstehende Aufgaben eindeutig zugewiesen werden, Arbeitsprodukte vollständig sind und alle
                            Fristen eingehalten werden.
                        </p>
                    </div>

                    <div class="column is-4 offer">
                        <img
                            class="offer-image"
                            :src="require('@/assets/img/flaticons/AppEx_Icon_07G_Transparenz.png')"
                        />
                        <p class="percentage-info">Traktandenlisten für Sitzungen</p>
                        <div class="horizontal-line"></div>
                        <p>
                            Mit AppEx erstellen Sie Traktandenlisten für Ihre Sitzungen sowie Gesprächsleitfäden für
                            Diskussionen. So lassen sich sämtliche Fragen zwischen Planern, Spezialisten und
                            Unternehmern von vornherein klären … damit man nicht immer erst im Nachhinein klüger ist.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img
                            class="offer-image"
                            :src="require('@/assets/img/flaticons/AppEx_Icon_06G_Koordination.png')"
                        />
                        <p class="percentage-info">Statusberichte/ Prüfdokumente</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx bietet Ihnen die geeigneten Instrumente, mit welchen Sie die Kontrolle über Ihr
                            laufendes Projekt behalten und damit insbesondere auch über alle Termine, Fristen, Pendenzen
                            und das Budget.
                        </p>
                    </div>
                    <div class="column is-4 offer">
                        <img class="offer-image" :src="require('@/assets/img/flaticons/AppEx_Icon_08G_PQM.png')" />
                        <p class="percentage-info">Einbettung in IT-Umgebung</p>
                        <div class="horizontal-line"></div>
                        <p>
                            AppEx ersetzt im Bereich Wissensmanagement die herkömmlichen passiven Werkzeuge zur
                            Dokumentenablage, welche wegen ungenügender Qualität der hinterlegten Inhalte und fehlender
                            Bewirtschaftung oft gar nicht verwendet werden. Über eine API-Schnittstelle können andere
                            Applikationen bei Bedarf problemlos auf die AppEx-Wissensdatenbank zugreifen.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <h2 class="large-title">Lizenzierung</h2>
                <br />
                <p class="is-description">
                    Die AppEx Software wird in einem interessanten Lizenzmodel angeboten. Massgebend ist die Anzahl der
                    Nutzer pro Monat. (Externe Nutzer können gebührenfrei eingebunden werden).
                </p>
                <p class="is-description">
                    Diverse unserer Kunden erweitern ihre Lizenz jeweils für die Dauer eines neuen Bauvorhabens auf alle
                    Projektbeteiligten. So stellen sicher, dass alle Fachspezialisten in die Prozesse eingebunden sind,
                    das Wissensmanagement seine volle Wirkung entfaltet und eine transparente Koordination zwischen
                    allen Akteuren über alle Projektphasen hinweg gewährleistet bleibt.
                </p>

                <p class="is-description">
                    Gerne besprechen wir mit Ihnen die konkret auf Ihr Projektteam zugeschnittene Lizenzierungsoption:
                    <a href="tel:+41-079-520-6218">+41 79 520 62 18</a> oder
                    <a href="mailto:info@appex.ch">info@appex.ch.</a>
                </p>
            </div>
        </section>

        <section class="section lessons" v-rellax="{ speed: 0, zindex: -1 }">
            <div class="container is-max-widescreen">
                <div class="columns hot">
                    <div class="column is-6">
                        <p class="percentage lessons">1’500</p>
                        <p class="percentage-info">Lehren</p>
                        <div class="horizontal-line" style="margin: 0"></div>
                        <p>
                            Die AppEx-Grundlizenz berechtigt zum Zugriff auf den Erfahrungsschatz «Basiswissen Hochbau»
                            mit über 1‘500 Lehren für Gewerke und Projektphasen, welcher sich problemlos mit eigener
                            Erfahrung kombinieren und ergänzen lässt.
                        </p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="container is-max-widescreen">
                <h2 class="large-title">Beratung und Projektbegleitung</h2>
                <br />
                <p class="is-description">
                    Neben der Bereitstellung und Lizenzierung ihrer Software AppEx, bietet die Applied Experience GmbH
                    auch Beratung und Projektbegleitung im individuell benötigten und gewünschten Umfang an.
                </p>

                <p class="m-b-10">Im Gesamtpaket begleiten wir Ihr Bauprojekt von A bis Z:</p>
                <p><span class="m-r-20">•</span> Einführung der Software AppEx inkl. Schulung</p>
                <p>
                    <span class="m-r-20">•</span> Begleitung des Projektteams bei der Aufgabenbearbeitung und beim
                    Reporting
                </p>
                <p>
                    <span class="m-r-20">•</span> Einberufung und Moderation der Koordinationssitzungen für alle
                    Projektphasen
                </p>
                <p>
                    <span class="m-r-20">•</span> Laufende Erfassung und Digitalisierung neuer Erfahrungen als neue
                    Lehren in der Wissensdatenbank
                </p>
                <br />
                <p>
                    Die Vorteile liegen auf der Hand: Der Ressourceneinsatz dieser professionellen Beratung bleibt auf
                    die Projektdauer beschränkt. Die enge Begleitung gewährleistet nicht nur die durchgehende Verwendung
                    von AppEx und garantiert damit deren uneingeschränkte positive Wirkung auf das Projekt. Sie stellt
                    auch sicher, dass die während eines Projektes gewonnenen Erfahrungen und Erkenntnisse in das
                    Wissensmanagement einfliessenund bei kommenden Projekten zur Verfügung stehen.
                </p>
                <p>
                    Lassen Sie uns zusammen besprechen, in welcher Form wir Sie bei Ihrem nächsten Projekt optimal
                    unterstützen und begleiten können: <a href="tel:+41-079-520-6218">+41 79 520 62 18</a> oder
                    <a href="mailto:info@appex.ch">info@appex.ch</a>.
                </p>
            </div>
        </section>

        <section class="crane-parallax" v-rellax="{ speed: 0, zindex: 0 }"></section>

        <section class="hero is-light">
            <div class="hero-body testimonials">
                <p class="is-description-header container is-max-desktop">Konsequentes Wissensmanagement überzeugt:</p>
                <b-carousel
                    :pause-hover="true"
                    :has-drag="true"
                    repeat
                    autoplay
                    :interval="7500"
                    :pause-info="false"
                    :indicator="false"
                >
                    <b-carousel-item class="container is-max-desktop">
                        <p>
                            DPR Construction ist seit langer Zeit auf der Suche, um Erfahrungen in einer organisierten und einfach zugänglichen Form zu erfassen. Appex hat diese Herausforderung gelöst und das Tool wird zunehmend durch alle Arbeitskollegen erfolgreich angewendet
                        </p>
                        <br />
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="has-smaller-text">
                                    <span><b>Peter Schneider</b></span>
                                    <p>Integration Manager</p>
                                    <p>DPR Construction</p>
                                </div>
                            </div>
                            <div class="column is-2 is-hidden-mobile">
                                <img :src="require('@/assets/img/clients/Peter_SchneiderKreis.png')" />
                            </div>
                        </div>
                    </b-carousel-item>
                    <b-carousel-item class="container is-max-desktop">
                        <p>
                            Die Erfahrungen und Lehren aus abgeschlossenen Projekten werden kontinuierlich in die
                            AppEx-Wissensdatenbank übernommen und fliessen so als gemeinsames und geteiltes Fachwissen
                            in jedes neue Projekt. Wir befinden uns auch dank AppEx in einem kontinuierlichen
                            Verbesserungsprozess, können die Qualität unserer Planung weiter erhöhen und dadurch viele
                            Fehler vorzeitig proaktiv ausschliessen.
                        </p>
                        <p>
                            Wir profitieren von der spannenden Zusammenarbeit mit Applied Experience, die uns viele neue
                            Blickwinkel eröffnet und die Transparenz in der Koordination mit anderen Projektpartnern
                            deutlich verbessert.
                        </p>
                        <br />
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="has-smaller-text">
                                    <span><b>Urs Schär</b></span>
                                    <p>Partner, Leiter Projektierung und Planung</p>
                                    <p>matti ragaz hitz architekten ag</p>
                                </div>
                            </div>
                            <div class="column is-2 is-hidden-mobile">
                                <img :src="require('@/assets/img/clients/Urs_SchaerKreis.png')" />
                            </div>
                        </div>
                    </b-carousel-item>

                    <b-carousel-item class="container is-max-desktop">
                        <p>
                            Mit AppEx können wir als Baumanagementbüro sicherstellen, dass allen Projektbeteiligten die
                            richtigen Fragen zur richtigen Zeit gestellt werden und so zusätzliche Aufwände vermieden
                            werden. Dieses Tool ermöglicht uns den Wissensaustausch und die Qualitätskontrolle in allen
                            Projektphasen. Durch die erfassten Erfahrungen aus der Projektierung, Ausschreibung und
                            Realisierung, wird die Effizienz erhöht. Wir als Valke GmbH setzen auf die Zukunft und auf
                            AppEx.
                        </p>
                        <br />
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="has-smaller-text">
                                    <span><b>Benjamin Wendel</b></span>
                                    <p>Geschäftsführer/Inhaber</p>
                                    <p>Valke GmbH Baumanagement</p>
                                </div>
                            </div>
                            <div class="column is-2 is-hidden-mobile">
                                <img :src="require('@/assets/img/clients/Benjamin_Wendel.png')" />
                            </div>
                        </div>
                    </b-carousel-item>

                    <b-carousel-item class="container is-max-desktop">
                        <p>
                            Bei AppEx hat uns überzeugt, dass keine vorgefertigten Antworten geliefert werden, sondern
                            durch sinnvolle Fragestellungen der Mitarbeitende zum Denken angeregt wird. Dadurch werden
                            nicht nur Fehler vermieden, sondern insbesondere können auch erfahrende Mitarbeiter ihr
                            Wissen an Jüngere weitergeben.
                        </p>
                        <p>
                            Die thematische Strukturierung und übersichtliche Oberfläche macht die Bedienung einfach und
                            effizient.
                        </p>
                        <br />
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="has-smaller-text">
                                    <span><b>Andres Linder</b></span>
                                    <p>Geschäftsleitung</p>
                                    <p>Jauslin Stebler AG</p>
                                </div>
                            </div>
                            <div class="column is-2 is-hidden-mobile">
                                <img :src="require('@/assets/img/clients/Andres_Linder.png')" />
                            </div>
                        </div>
                    </b-carousel-item>

                    <b-carousel-item class="container is-max-desktop">
                        <p>
                            Viele Fehler werden leider viel zu häufig wiederholt. Appex hilft uns, die Probleme aktuell
                            auf der Baustelle zu erfassen, damit diese nicht vergessen gehen. Am Ende der Baustelle
                            besprechen wir im Team die Probleme und erstellen Lösungen für künftige Projekte. Dank AppEx
                            können wir nun Fehler vermeiden bevor sie entstehen.
                        </p>
                        <p>
                            Die thematische Strukturierung und übersichtliche Oberfläche macht die Bedienung einfach und
                            effizient.
                        </p>
                        <br />
                        <div class="columns is-vcentered">
                            <div class="column">
                                <div class="has-smaller-text">
                                    <span><b>Damian Meichtry</b></span>
                                    <p>Geschäftsführer</p>
                                    <p>Etavis Arnold AG</p>
                                </div>
                            </div>
                            <div class="column is-2 is-hidden-mobile">
                                <img :src="require('@/assets/img/clients/Damian_Meichtry.png')" />
                            </div>
                        </div>
                    </b-carousel-item>
                </b-carousel>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import { Jsonld } from 'nuxt-jsonld';

@Jsonld
@Component({
    name: 'Offer',
    components: {},
})
export default class Offer extends Vue {
    private isImageModalActive: boolean = false;

    jsonld() {
        return {
            '@context': 'https://schema.org',
            '@type': 'Corporation',
            name: 'Applied Experience GmbH',
            alternateName: 'Appex',
            url: 'https://appex.ch',
            logo: './logo.png',
            contactPoint: {
                '@type': 'ContactPoint',
                telephone: '+41 79 520 6218',
                contactType: 'customer service',
                areaServed: 'CH',
                availableLanguage: ['en', 'fr', 'German', 'Italian'],
            },
            sameAs: 'https://appex.ai',
        };
    }
}
</script>

<style lang="scss"></style>
