<template>
    <div>
        <section class="section m-t-50">
            <div class="container is-max-widescreen">
                <h1 class="large-title">DATENSCHUTZERKLÄRUNG Applied Experience GmbH</h1>
                <br />

                <p class="is-description-header"><b>1 Allgemeines</b></p>

                <p class="is-description">
                    1.1 Die folgende Datenschutzerklärung soll unsere Kunden und alle Nutzer der Website www.appex.ch
                    über die Erhebung, Verarbeitung und Nutzung ihrer personenbezogenen Daten aufklären.
                </p>

                <p class="is-description">
                    1.2 Die Applied Experience GmbH, Steinstrasse 20, 5406 Baden-Rütihof, Schweiz ("Applied
                    Experience"), ist die Anbieterin der Services auf www.appex.ch und die verantwortliche Stelle gemäss
                    dem Datenschutzgesetz.
                </p>

                <p class="is-description">
                    1.3 Applied Experience erhebt, verarbeitet und nutzt die personenbezogenen Daten ausschliesslich in
                    Übereinstimmung mit dem Inhalt dieser Datenschutzerklärung sowie den geltenden Schweizer
                    Datenschutzregelungen, soweit anwendbar, den Bestimmungen der EU Datenschutz-Grundverordnung.
                </p>
                <br />
                <p class="is-description-header"><b>2 Nutzerdaten / Erhebung / Verwendung </b></p>
                <p class="is-description">
                    2.1 Sofern Sie unsere Dienstleistungen in Anspruch nehmen wollen, werden bei der Registrierung
                    diejenigen Daten erhoben, die wir zur Erbringung und Kontrolle der Services benötigen. Durch Ihre
                    Registrierung erteilen Sie uns die Einwilligung, dass alle Daten gemäss Ihrer Registrierung erfasst
                    werden. Dies gilt insbesondere für:<br />
                    • Name und Adresse des Kunden / Nutzers <br />
                    • Namen und Vornamen der Ansprechpersonen <br />
                    • E-Mail-Adresse <br />
                    • Telefonnummer <br />
                    • Vereinbarte Nutzungen / Services <br />
                </p>
                <p class="is-description">
                    2.2 Applied Experience erhebt, verarbeitet und speichert zudem solche personenbezogenen Daten, die
                    Sie freiwillig (z.B. in Formularen oder anderweitig auf der von Applied Experience betriebenen
                    Website) in elektronischer oder sonstiger Kommunikation mitgeteilt haben und Applied Experience zur
                    Erbringung und Kontrolle der Services benötigt.
                </p>
                <p class="is-description">
                    2.3 Im Falle Ihrer Kontaktaufnahme mit Applied Experience – beispielsweise über ein Kontaktformular
                    oder per E Mail – werden Ihre Angaben zum Zwecke der Bearbeitung Ihrer Anfrage gespeichert. Dies
                    gilt ebenfalls für den Fall, dass Anschlussfragen entstehen.
                </p>
                <p class="is-description">
                    2.4 Im Rahmen der angebotenen Dienstleistungen werden durch Applied Experience zudem die
                    detaillierten Daten zu den von Ihnen erstellten Erfahrungen, Herausforderungen und Fragen in der
                    Datenbank gespeichert. Bei diesen Daten handelt es sich nicht um personenbezogene Daten. Vielmehr
                    sind es nicht personalisierte Projektdaten, welche Sie uns für die durch uns angebotenen Services
                    überlassen.
                </p>
                <p class="is-description">
                    2.5 Um die Nutzung der Dienstleistungen und der Website von Applied Experience zu ermöglichen,
                    erhebt Applied Experience sodann folgende Daten über die Zugriffe der Nutzer: Datum und Uhrzeit des
                    Websitezugriffs, Umfang des Datentransfers, den Ausgangsort des Zugriffs, verwendeter Browsertyp und
                    -version, Betriebssystem des Endgeräts des Nutzers, URL der zuvor besuchten Website, die IP Adresse,
                    Informationen über das Benutzerkonto.
                </p>
                <p class="is-description">
                    2.6 Applied Experience speichert die erhobenen persönlichen Zugriffsdaten der Kunden und Nutzer nur
                    für die begrenzte Dauer der Inanspruchnahme der Services von Applied Experience bzw. der Dauer der
                    Leistungspakete und deren darauffolgenden Administrierung.
                </p>
                <p class="is-description">
                    2.7 Applied Experience verwendet die von Ihnen zur Verfügung gestellten personenbezogenen Daten nur,
                    um die von Ihnen gewünschten Services zu erbringen und dabei die Kontrolle der Einhaltung der
                    „Allgemeinen Geschäftsbedingungen“ zu gewährleisten, um Anfragen zu beantworten, für statistische
                    Belange und zur Optimierung des Angebots.
                </p>
                <p class="is-description">
                    2.8 Zur Pflege der laufenden Kundenbeziehungen kann es ausserdem erforderlich sein, dass wir
                    personenbezogene Daten verwenden, um Sie über unsere Angebote zu informieren.
                </p>
                <p class="is-description">
                    2.9 Eine Weitergabe der personenbezogenen Daten des Kunden / Nutzers durch Applied Experience
                    erfolgt nicht, sofern der Kunde / Nutzer nicht ausdrücklich in die Weitergabe eingewilligt hat oder
                    Applied Experience aufgrund gesetzlicher Bestimmungen oder gerichtlicher Anordnungen zu einer
                    Weitergabe berechtigt oder verpflichtet ist.
                </p>
                <br />
                <p class="is-description-header"><b>3 Verwendung von Cookies bei Website-Nutzung</b></p>
                <p class="is-description">
                    3.1 Applied Experience erhebt ebenfalls Daten über die Verwendung von sog. Browser-Cookies und aus
                    dem lokalen Browserspeicher des Benutzers. Cookies sind kleine Textdateien welche auf dem
                    Datenträger des Zugriffsgeräts Einstellungen und Daten zum Austausch mit der Website von Applied
                    Experience speichern und bei jedem Zugriff übermittelt werden. Diese ermöglichen der Website von
                    Applied Experience die Identität des Zugriffsgeräts zu erkennen und eventuelle Voreinstellungen
                    sofort verfügbar zu machen. Der BrowserSpeicher ist eine Möglichkeit, auf dem Datenträger des
                    Zugriffsgeräts Daten zu speichern, auf welche die Website während des Besuchs Zugriff hat.
                </p>
                <p class="is-description">
                    3.2 In allen gängigen Browsertypen ist eine Funktion zur Einschränkung und/oder Verhinderung des
                    Speicherns von Cookies oder Daten im Browserspeicher vorgesehen. Die Nutzung dieser Funktion kann
                    allerdings zu Einbussen der Funktionalität und insbesondere des Komforts der Websitenutzung führen.
                </p>
                <br />
                <p class="is-description-header"><b>4 Google Analytics </b></p>
                <p class="is-description">
                    4.1 Applied Experience verwendet Google Analytics. Google Analytics ist ein Webanalysedienst der
                    Google Inc. ("Google"). Google Analytics verwendet sog. "Cookies", Textdateien, die auf dem Computer
                    der Nutzer gespeichert werden und die eine Analyse der Benutzung der Website ermöglicht. Die durch
                    das Cookie erzeugten Informationen über die Benutzung dieser Website (einschliesslich IP-Adresse der
                    Nutzer) werden an einen Server von Google in den USA übertragen und dort gespeichert. Google wird
                    diese Informationen benutzen, um die Nutzung der Website durch die Nutzer auszuwerten, um Reports
                    über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um weitere mit der
                    Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google
                    diese Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben ist
                    oder soweit Dritte diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall die
                    IP-Adresse der Nutzer mit anderen Daten von Google in Verbindung bringen. Die Nutzer können die
                    Installation der Cookies durch eine entsprechende Einstellung der Browser Software verhindern; wir
                    weisen die Benutzer jedoch darauf hin, dass in diesem Fall gegebenenfalls nicht sämtliche Funktionen
                    der Website vollumfänglich genutzt werden können. Durch die Nutzung der Website erklären die Nutzer
                    sich mit der Bearbeitung der über sie erhobenen Daten durch Google in der zuvor beschriebenen Art
                    und Weise und zu dem zuvor benannten Zweck einverstanden.
                </p>
                <p class="is-description">
                    Applied Experience verwendet Cookies zur Durchführung von Remarketing Massnahmen. Dabei wird das
                    Google Analytics Cookie dafür verwendet, Anzeigen über Applied Experience Produkte innerhalb des
                    Google-Display Netzwerkes zu schalten. Sie können die Google Analytics-Werbefunktionen über die
                    Anzeigeneinstellungen, die Anzeigeneinstellungen für mobile Apps, anderen Optionen wie die
                    NAI-Verbraucherdeaktivierung oder via Google-Browser-Addon deaktivieren.
                </p>
                <br />
                <p class="is-description-header"><b>5 Ort der Datenspeicherung / Datensicherheit </b></p>
                <p class="is-description">
                    5.1 Die uns übermittelten Daten werden entweder auf unserem Server mit Standort in der Schweiz oder
                    auf den Servern unserer hierfür spezialisierten Vertragspartner (aktuell Swisscom) gemäss deren
                    Allgemeinen Vertragsbedingungen gespeichert.
                </p>
                <br />
                <p class="is-description-header"><b>6 Rechte des Nutzers</b></p>
                <p class="is-description">6.1 Recht auf Auskunft</p>
                <p class="is-description">
                    Der Kunde / Nutzer hat das Recht, die ihn betreffenden, gespeicherten, personenbezogenen Daten,
                    deren Herkunft, welche Weitergabe erfolgt ist und den Zweck der Speicherung vom Applied Experience
                    zu erfahren.
                </p>
                <p class="is-description">6.2 Recht auf Löschung und / oder Sperrung</p>
                <p class="is-description">
                    Der Kunde / Nutzer hat das Recht, jederzeit die Löschung und/oder Sperrung der über ihn
                    gespeicherten personenbezogenen Daten zu verlangen, soweit keine gesetzliche Aufbewahrungspflicht
                    für Applied Experience besteht. Soweit hiervon solche personenbezogenen Daten umfasst sind, die für
                    die Leistungserbringung gegenüber dem Kunden erforderlich sind, kann die Löschung bzw. Sperrung
                    dieser Daten erst erfolgen, wenn der Kunde das Angebot von Applied Experience nicht mehr nutzt und
                    das Vertragsverhältnis vollständig abgewickelt ist.
                </p>
                <p class="is-description">6.3 Recht auf Widerruf</p>
                <p class="is-description">
                    Alle vom Kunden / Nutzer erfolgten Einwilligungen zur Nutzung von personenbezogenen Daten können von
                    diesem zu jedem Zeitpunkt widerrufen werden.
                </p>
                <p class="is-description">6.4 Recht auf Herausgabe</p>
                <p class="is-description">
                    Schliesslich steht den Kunden / Nutzern das Recht auf Erhalt ihrer unmittelbar von ihnen stammenden
                    personenbezogenen Daten zu. Auf explizites Verlangen werden wir Ihnen diese Daten in einem
                    maschinenlesbaren und strukturierten Format zur Verfügung stellen.
                </p>
                <br />
                <p class="is-description-header"><b>7 Änderung der Datenschutzerklärung </b></p>
                <p class="is-description">
                    Applied Experience behält sich das Recht vor, jederzeit Änderungen mit Wirkung für die Zukunft an
                    der Datenschutzerklärung vorzunehmen. Alle Nutzer werden gebeten, sich regelmässig über die aktuelle
                    Datenschutzerklärung zu informieren.
                </p>

                <br />
                <p class="is-description-header"><b>8 Rechtsgrundlagen </b></p>
                <p class="is-description">
                    Diese Datenschutzerklärung basiert auf den Bestimmungen des schweizerischen Bundesgesetzes über den
                    Datenschutz (DSG) und der Verordnung zum Bundesgesetz über den Datenschutz (VDSG).
                </p>

                <br />
                <p class="is-description-header"><b>9 Anwendbares Recht und Gerichtsstand </b></p>
                <p class="is-description">
                    Die Benutzung unserer Dienste und unserer Website unterliegt schweizerischem Recht.
                    Ausschliesslicher Gerichtsstand ist Baden, AG, Schweiz.
                </p>

                <br />
                <p class="is-description-header"><b>10 Kontakt </b></p>
                <p class="is-description">
                    Alle Anfragen zu Informationen über personenbezogene Daten, zur Löschung und/oder Sperrung der
                    gespeicherten Daten, zu Widerrufe von Einwilligungen, sowie generelle Fragen zur
                    Datenschutzerklärung richten Sie bitte schriftlich per E-Mail an info@appex.ch oder schriftlich an
                    die auf der Website angegebenen Kontaktinformationen. Ihre Anfragen werden zeitgerecht per E-Mail
                    schriftlich beantwortet.
                </p>

                <br />
                <p class="is-description">Stand November 2020</p>

                <p class="is-description">Applied Experience AG, Steinstrasse 20, 5406 Baden-Rütihof</p>
            </div>
        </section>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component({
    name: 'Offer',
    components: {},
})
export default class Offer extends Vue {
    private isImageModalActive: boolean = false;
}
</script>

<style lang="scss"></style>
